{% extends "layout.html" %} {% load static %} {% block title %}Inicio{% endblock %} {% block content %}
<div class="parallax filter-gradient orange" data-color="orange">
    <div class="parallax-background">
        <img class="parallax-background-image" src="{% static 'images/fondo.jpg' %}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="description">
                    <h2>¡Disfruta de la comida!</h2>
                    <br>
                    <h5>TASTYROUTE es un asistente gastronómico por Internet que acompaña al turista para que disfrute de la verdadera comida típica, reduciendo los tiempos de búsqueda de locales, ampliando la variedad de oferta gastronómica, y liberando del estrés del tipo de cambio.</h5>
                </div>
                <div class="buttons">

                    <a class="btn btn-fill btn-neutral" href="{% static 'apk/tastyroute.apk' %}" target="_bank">
                        <i class="fa fa-android"></i> Android
                    </a>
                    <button class="btn btn-simple btn-neutral">
                        <i class="fa fa-apple"></i> Próximamente!
                    </button>
                    <button class="btn btn-simple btn-neutral">
                        <i class="fa fa-windows"></i> Próximamente!
                    </button>
                </div>
            </div>
            <div class="col-md-5  hidden-xs">
                <div class="parallax-image">
                    <img class="phone" src="{% static 'images/phone.png' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">¿Cómo funciona TASTYROUTE?</h4>
        <p>
            TASTYROUTE es una ruta digital en tiempo real de los mejores lugares para comer en la ciudad. Deja de preocuparte y aprovecha mejor tu tiempo mientras disfrutas de la gastronomía que de la ciudad.
            <br>
        </p>
        <div class="logos">
            <img src="{% static 'images/logo_2.png' %}" alt="logo" width="100px">
            <br><br>
            <img src="{% static 'images/logo.png' %}" alt="logo" width="400px">
        </div>
    </div>
</div>
<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">¡La mejor comida del mundo!</h4>
                    <p>Las personas que viven en Perú y los que visitan este hermoso país, están enamorados de sus deliciosos platos y exquisitas bebidas. Tan diversa como su geografía y sus tradiciones que resaltan sabores, insumos, colores, y texturas. Francia y Japón nos envidian.</p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="http://4.bp.blogspot.com/-8neoAT33o8A/TaGQUJe8uZI/AAAAAAAAAT0/-90jbR7bzTM/s1600/rocotos-rellenos.jpg" / style="top:-50px">
            </div>
        </div>
    </div>
</div>
<div class="section section-demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="description-carousel" class="carousel fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'images/home_3.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'images/home_1.jpg' %}" alt="">
                        </div>
                    </div>
                    <ol class="carousel-indicators carousel-indicators-orange">
                        <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#description-carousel" data-slide-to="1" class=""></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="header-text">Es muy fácil!</h4>
                <p>
                    Estés donde estés sólo activa tu gps y TASTYROUTE mostrará los mejores y cercanos lugares a tu ubicación donde podrás disfrutar de la mejor comida de la ciudad. Puedes personalizar tus gustos por si eres vegetariano o si simplemente te gusta la comida picante. Y si no tienes efectivo en la moneda local, puedes pagar tu tarjeta. Aprovecha que por lanzamiento tenemos una cortesía en el local de tu elección. Disfruta tu paseo, disfruta la comida con TASTYROUTE.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">¿Qué ofrecemos?</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="text">
                        <h4>Recomendación de cercanía</h4>
                        <p>Obtenga recomendaciones según su ubicación.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="text">
                        <h4>Productos estrella del día</h4>
                        <p>Reciba información sobre los lugares más valorados.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="text">
                        <h4>La mejor comida de la ciudad</h4>
                        <p>Obtenga información sobre los mejores restaurantes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-credit-card-alt"></i>
                    </div>
                    <div class="text">
                        <h4>Posibilidad de pago en tu moneda</h4>
                        <p>Puedes pagar con la moneda que desees.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                    <div class="text">
                        <h4>Ubicación en tiempo real</h4>
                        <p>Consulte su ubicación en tiempo real.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-filter"></i>
                    </div>
                    <div class="text">
                        <h4>Filtrado según tus gustos y preferencias</h4>
                        <p>Obtén información sobre lugares según tus gustos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-testimonial">
    <div class="container">
        <h4 class="header-text text-center">Nuestro equipo</h4>
        <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="mask">
                        <img src="{% static 'images/hector.jpg' %}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Hector Herrera</p>
                        <h3>Fundador y líder de estrategía</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="mask">
                        <img src="{% static 'images/william.jpg' %}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>William Condori</p>
                        <h3>Fundador y líder de desarrollo</h3>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators carousel-indicators-orange">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
        </div>
    </div>
</div>
<div class="section section-no-padding">
    <div class="parallax filter-gradient orange" data-color="orange">
        <div class="parallax-background">
            <img class="parallax-background-image flipped" src="{% static 'images/map.png' %}">
        </div>
        <div class="info">
            <h1>¡Obtenga Tastyroute!</h1>
            <p>Descargue nuestra aplicación para <b>Android</b>.</p>
            <a href="{% static 'apk/tastyroute.apk' %}" class="btn btn-neutral btn-lg btn-fill" target="_bank">Descargar</a>
        </div>
    </div>
</div>
{% endblock %}