{% extends "layout.html" %} {% load static %} {% block title %}Inicio{% endblock %} {% block content %}
<div class="parallax filter-gradient orange" data-color="orange">
    <div class="parallax-background">
        <img class="parallax-background-image" src="{% static 'images/fondo.jpg' %}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="description">
                    <h2>¡Disfruta de la comida!</h2>
                    <br>
                    <h5>Es un asistente gastronómico por Internet que acompaña al turista para que disfrute de la verdadera comida típica, reduciendo los tiempos de búsqueda de locales, ampliando la variedad de oferta gastronómica, y liberando del estrés del tipo de cambio.</h5>
                </div>
                <div class="buttons">

                    <button class="btn btn-fill btn-neutral">
                        <i class="fa fa-android"></i> Android
                    </button>
                    <button class="btn btn-simple btn-neutral">
                        <i class="fa fa-apple"></i> Próximamente!
                    </button>
                    <button class="btn btn-simple btn-neutral">
                        <i class="fa fa-windows"></i> Próximamente!
                    </button>
                </div>
            </div>
            <div class="col-md-5  hidden-xs">
                <div class="parallax-image">
                    <img class="phone" src="{% static 'images/phone.png' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">¿Cómo funciona Tastyroute?</h4>
        <p>
            Aqui va una reseña
            <br>
        </p>
        <div class="logos">
            <ul class="list-unstyled">
                <li>
                    <img src="assets/img/logos/adobe.png" />
                </li>
                <li>
                    <img src="assets/img/logos/zendesk.png" />
                </li>
                <li>
                    <img src="assets/img/logos/ebay.png" />
                    </i>
                    <li>
                        <img src="assets/img/logos/evernote.png" />
                    </li>
                    <li>
                        <img src="assets/img/logos/airbnb.png" />
                    </li>
                    <li>
                        <img src="assets/img/logos/zappos.png" />
                    </li>
            </ul>
        </div>
    </div>
</div>
<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">Aqui va algo</h4>
                    <p>Aqui va algo</p>
                    <p>Aqui va algo.
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="assets/img/showcases/showcase-1/iphones.png" / style="top:-50px">
            </div>
        </div>
    </div>
</div>
<div class="section section-demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="description-carousel" class="carousel fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <img src="assets/img/showcases/showcase-1/examples/home_3.jpg" alt="">
                        </div>
                        <div class="item active">
                            <img src="assets/img/showcases/showcase-1/examples/home_2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/showcases/showcase-1/examples/home_1.jpg" alt="">
                        </div>
                    </div>
                    <ol class="carousel-indicators carousel-indicators-orange">
                        <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#description-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="header-text">Es muy fácil!</h4>
                <p>
                    Texto de es muy fácil!
                </p>
                <a href="http://www.creative-tim.com/product/awesome-landing-page" id="Demo1" class="btn btn-warning btn-fill" data-button="warning">Get Free Demo</a>
            </div>
        </div>
    </div>
</div>
<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">¿Qué ofrecemos?</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="text">
                        <h4>Recomendación de cercanía</h4>
                        <p>Detalle</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="text">
                        <h4>Productos estrella del día</h4>
                        <p>Detalle</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="text">
                        <h4>La mejor comida de la ciudad</h4>
                        <p>Detalle</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-credit-card-alt"></i>
                    </div>
                    <div class="text">
                        <h4>Posibilidad de pago en tu moneda</h4>
                        <p>Detalle</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                    <div class="text">
                        <h4>Ubicación en tiempo real</h4>
                        <p>Detalle</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-orange">
                    <div class="icon">
                        <i class="fa fa-filter"></i>
                    </div>
                    <div class="text">
                        <h4>Filtrado según tus gustos y preferencias</h4>
                        <p>Detalle</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-testimonial">
    <div class="container">
        <h4 class="header-text text-center">Gente</h4>
        <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <div class="mask">
                        <img src="assets/img/faces/face-4.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Jay Z, Producer</p>
                        <h3>"I absolutely love your app! It's truly amazing and looks awesome!"</h3>
                    </div>
                </div>
                <div class="item active">
                    <div class="mask">
                        <img src="assets/img/faces/face-3.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Drake, Artist</p>
                        <h3>"This is one of the most awesome apps I've ever seen! Wish you luck Creative Tim!"</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="mask">
                        <img src="assets/img/faces/face-2.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Rick Ross, Musician</p>
                        <h3>"Loving this! Just picked it up the other day. Thank you for the work you put into this."</h3>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators carousel-indicators-orange">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
<div class="section section-no-padding">
    <div class="parallax filter-gradient orange" data-color="orange">
        <div class="parallax-background">
            <img class="parallax-background-image flipped" src="{% static 'images/map.png' %}">
        </div>
        <div class="info">
            <h1>¡Obtenga Tastyroute!</h1>
            <p>Descargue nuestra aplicación para <b>Android</b>.</p>
            <a href="h" class="btn btn-neutral btn-lg btn-fill">Descargar</a>
        </div>
    </div>
</div>
{% endblock %}